@use '../util/' as u;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    width: min(100%, 1000px);
    margin-inline: auto;

    @include u.breakpoint(large) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main, &__aside {
        padding: 40px;
    }

    &__main {
        background-color: hsl(240, 90%, 20%);
    }

    &__aside {
        background-color: hsl(300, 82%, 20%);

        @include u.breakpoint-down(medium) {
            text-align: center;
        }
    }
}