.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.header_list {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    

    li {
        color: var(--clr-grayishblue);
    

        a:hover {
            color: var(--clr-red);
        }

    }
}

.header_logo {
    position: absolute;
}


.header__menu {
    display: flex;
    margin-left: auto;
    padding-top: 1.5rem;

}

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 65%; /* Cover 80% of the screen width */
    height: 100%; /* Full height */
    background-color: white; /* White background */
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
    z-index: 1000; /* Ensure it’s on top */
    transform: translateX(0); /* Start off-screen */
    transition: transform 0.3s ease; /* Smooth transition */
    
}

.mobile-nav__menu {
    list-style-type: none;
    padding: 10rem 2rem;
    
    li {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.mobile-nav__close {
    position: absolute;
    top: 1rem;    /* Adjust as needed */
    right: 1rem;  /* Adjust as needed */
    display: flex;
    align-items: center;
    cursor: pointer; 
}
