:root {
    --clr-red: hsl(0, 100%, 68%);
    --clr-darkblue: hsl(230, 29%, 20%);
    --clr-darkgray: hsl(230, 11%, 40%);
    --clr-gray: hsl(231, 7%, 65%);
    --clr-lightgray: hsl(207, 33%, 95%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;

}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

svg {
    margin: 0;
    padding: 0;
    overflow: visible;
}

button {
    font-family: 'Barlow Condensed', sans-serif;
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    cursor: pointer;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
