
.main_1 {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 1rem;
}

.main1_grid {
    background-color: var(--clr-darkdesaturatedCARDBG);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.facebook {
    border-top: 4px solid var(--clr-facebook);
}
.twitter {
    border-top: 4px solid var(--clr-twitter);
}
.youtube {
    border-top: 4px solid var(--clr-red);
}
.instagram {
    position: relative;
    padding-top: 0.3rem;
}
.instagram::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--clr-instagram);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.main_flex {
    display: flex;
    gap: 0.5rem; 
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    align-items: center;
}


.main1_title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-whiteTEXT);
    letter-spacing: 0.1rem;
}

.main1_subtitle {
    color: var(--clr-desaturatedTEXT);
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

.main1_subsubtitle {
    color: var(--clr-desaturatedTEXT);
    font-size: 0.6rem;
    font-weight: 700;
}

.main_main {
    color: var(--clr-whiteTEXT);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2rem 0 1.5rem 0;

}

.main_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    border-radius: 5px;
}

.main2_grid {
    background-color: var(--clr-darkdesaturatedCARDBG);
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.main2_title {
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--clr-desaturatedTEXT);
}

.main2_subtitle {
    color: var(--clr-whiteTEXT);
    font-size: 1.5rem;
    font-weight: 700;
}

.two {
    display: flex;
    gap: 0.2rem;
    font-size: 0.6rem;
    font-weight: 700;

    img {
        height: auto;
        object-fit: contain;
    }
}

.img, .two {
    justify-self: flex-end;
    align-self: flex-end;
}

.img {
    width: 15%;
}


.main_up > * {
    color: var(--clr-green) !important;
}

.main_down > * {
    color: var(--clr-red);
}


.main1_grid:hover, .main2_grid:hover {
    background-color: var(--clr-hover);
}

@media(min-width: 425px) {
    .main_2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 562px) {
    .main_1 {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media(min-width: 1024px) {
    .main_1 {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    .main_2 {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}

@media(min-width: 1440px) {
    .main_1 {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 1.5rem;
    }
    .main_2 {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 1.5rem;
    }
    .main2_grid {
        padding: 1.5rem;
    }
}