:root {
    --clr-violet: hsl(256, 26%, 20%);
    --clr-blue: hsl(216, 30%, 68%);
    --clr-darkviolet: hsl(270, 9%, 17%);
    --clr-grayviolet: hsl(273, 4%, 51%);
    --clr-gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

svg {
    margin: 0;
    padding: 0;
    overflow: visible;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    cursor: pointer;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}