 :root {
    --clr-dark: #070a13;
    --clr-light:#f1f5f9 ;
    --clr-slate400:#94a3b8 ;
    --clr-slate600: #475569 ;
    --clr-slate800:#1e293b ;
    --clr-rose: #e11d48;
    --clr-indigo: #4f46e5;

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

 }
 
 
 *,
 *::before,
 *::after {
    box-sizing: border-box; /* it includes the measurments of padding and broder. so the width 600px will be the sum of padding, border, and the content itself. */
 }
 
 * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
 }

 html {
    scroll-behavior: smooth;
 }

 .light-mode {
   --clr-light: #070a13;
   --clr-dark:#f1f5f9 ;
   --clr-slate400:#475569 ;
   --clr-slate600: #475569 ;
   --clr-slate800:#475569;
 }

 body {
   font-family: 'General Sans', sans-serif;
   background-color: var(--clr-dark);
   color: var(--clr-light);

 }

 img,
 picture,
 video,
 canvas,
 svg {
    display: block;
    max-width: 100%;
    user-select: none;
 }

.container {
   display: grid;
   grid-template-columns: 1fr;
   gap: 14px;
   grid-auto-rows: 1fr;

   @media (min-width: 534px) {
      grid-template-columns: repeat(2, 1fr);
   }
    /* display: flex;
    justify-content: space-evenly;
    border-radius: 2px;
    border: 2px solid black;
    max-width: 100%;
    width: 400px;
    height: auto;
    margin:  10px auto;
    padding: 1rem; */
}

.card {
   border: 2px solid black;
   border-radius: 12px;
   padding: 1rem;

   img {
      width: 100%;
      height: auto;
  }

  p {
      font-size: clamp(1rem, 2.5vw, 2rem);
      word-wrap: break-word;
      text-align: justify;
  }
}

