.header {
    background: linear-gradient(
        to bottom right, 
        var(--clr-veryred) 0%,
        var(--clr-lightred) 50%
    );
    position: relative;
    border-bottom-left-radius: 20%;
    z-index: -2;
    overflow: hidden;
}

.desktop {
    display: none;
}

.svg_intro_mobile {
    position: absolute;
    max-width: 330px;
    z-index: -1;
    top: -12rem;
    left: -16rem;
    opacity: 0.5;
}
.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg_header_logo, .svg_menu, .svg_close {
    width: 8%;
}

.svg_close {
    display: none;
}

.header_intro {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.header_title {
    font-size: 1.6rem;
    color: var(--clr-white);
    margin-bottom: 0.5rem;
}

.header_subtitle {
    max-width: 25ch;
    color: var(--clr-white);
    font-weight: 100;
    font-size: 0.8rem;
}

.header_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
}

.btn1, .btn2 {
    border-radius: 20px;
    padding: 0.6rem;
    font-size: 0.8rem;
}

.btn1 {
    background-color: var(--clr-white);
    color: var(--clr-lightred);
    font-weight: 700;
}

.btn1:hover {
    background-color: var(--clr-red);
    color: var(--clr-white);
}

.btn2 {
    border: 1px solid var(--clr-white);
    padding-inline: 1rem;
    color: var(--clr-white);
    font-weight: 700;
}

.btn2:hover {
    background-color: var(--clr-white);
    color: var(--clr-lightred);
}

.header_list {
    display: none;
    position: relative;
    z-index: 4;
    gap: 2rem;
    color: var(--clr-white);
    font-size: 0.7rem;
}

.header_span:hover {
    text-decoration: underline;
}
.header_dropbtn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.arrow_up {
    display: none;
}

.header_dropdown-content {
    display: none;
    background-color: var(--clr-white);
    border-radius: 5px;
    padding: 1rem;
    padding-right: 2rem;
    color: var(--clr-heading);
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
    position: absolute;

    a {
        font-size: 0.6rem;
    }
}

.header_dropdown-content a:hover {
    font-weight: 700;
}

.right{
    display: flex;
    justify-self: flex-end;
    margin-left: 6rem;

    a {
        border-radius: 25px;
        padding: 0.5rem 1.5rem;
    }
}

.right a:hover {
    background-color: var(--clr-red);
}

@media(min-width: 375px) {
    
}

@media(min-width: 425px) {
   

}

@media(min-width: 475px) {
   
}

@media(min-width: 620px) {


}

@media(min-width: 768px) {

  .mobile {
        display: none;
    }

  .desktop {
    display: block;
  }

  .svg_header_logo, .svg_menu {
    width: 4%;
  } 

  .svg_menu {
    display: none !important;
  }

  .header_main {
    justify-content: space-between;
    align-items: flex-end;
  }

  .header_title {
    font-size: 2rem;
    color: var(--clr-white);
    margin-bottom: 0.5rem;
  }

  .header_subtitle {
        max-width: none;
        color: var(--clr-white);
        font-weight: 100;
        font-size: 0.8rem;
   }

   .header_list {
    display: flex;
   }

}

@media(min-width: 1024px) {

    .header_main {
        padding-inline: 2.5rem;
    }

    .header_list {
        font-size: 1rem;
    }

    .right{
        margin-left: 6rem;
    }


}

@media(min-width: 1220px) {

}

@media(min-width: 1440px) {

}

