.main {
    text-align: center;
    color: var(--clr-heading);

}

.main_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.main_intro {
    font-size: 1.2rem;
    margin: 4rem 0;
}

.main_title {
    max-width: 15ch;
    font-weight: 500;
    font-size: 1.2rem;
}
.main_subtitle {
    max-width: 30ch;
    color: var(--clr-graybody);
    font-size: 0.7rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.svg_editor_mobile, .svg_laptop_mobile {
    width: 100%;
}

.svg_editor_desktop, .svg_laptop_desktop {
    display: none;
    width: 35%;

}

.section2 {
    color: var(--clr-white);
    border-radius: 0 75px 0 75px;
    background-color: var(--clr-desaturated);
    overflow: hidden;
    position: relative;
    padding-top: 12rem;
    padding-bottom: 5rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
    z-index: -2;
}

.svg_phones {
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    top: 0rem;
    z-index: 2;
    max-width: 440px;
    min-width: 240px;
}

.svg_circle {
    position: absolute;
    top: -5rem;
    left: 40%;
    transform: translateX(-50%);
    max-width: 288px;
    min-width: 288px;
    z-index: -1;
}


.section2_title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.section2_subtitle {
    max-width: 30ch;
    font-size: 0.7rem;
    line-height: 1.5;
    font-weight: 100;
}



@media(min-width: 375px) {
    
}

@media(min-width: 425px) {
   

}

@media(min-width: 475px) {
   
}

@media(min-width: 620px) {


}

@media(min-width: 768px) {

    .main_intro {
        font-size: 1.7rem;
        font-weight: 500;
    }
  
    .section1 {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
    }

    .svg_editor_mobile, .svg_laptop_mobile {
        display: none;
    }

    .svg_editor_desktop, .svg_laptop_desktop {
        display: block;
    }

    .main_details {
        align-items: flex-start;
    }

    .main_title {
        max-width: none;

    }
    .main_subtitle {
        max-width: 49.5ch;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: left;
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-right: 5rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .section2_subtitle {
        margin-right: 7rem;
    }
    

    .svg_phones {
        left: 15%;
        top: 2rem;
        width: 240px;
    }
    
    .svg_circle {
        top: -24rem;
        left: 20%;
        max-width: 688px;
        min-width: 688px;
    }

    .section3 {
        display: flex;
        flex-direction: row;
        gap: 7rem;
        text-align: left;
    }

}

@media(min-width: 1024px) {

    .section2 {
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-right: 5rem;
        margin-top: 4rem;
        margin-bottom: 8rem;
    }

    .svg_phones {
        left: 25%;
        top: 1rem;
        width: 300px;
    }

}

@media(min-width: 1220px) {

    
    .section2 {
        padding-top: 4rem;
        padding-bottom: 3rem;
        padding-right: 5rem;
        margin-top: 10rem;
        margin-bottom: 4rem;
    }

    .svg_phones {
        left: 25%;
        top: 1rem;
        width: 440px;
    }
}

@media(min-width: 1440px) {


    .section2 {
        margin-bottom: 6rem;
    }

    .section3 {
        gap: 11rem;
    }

    .svg_phones {
        left: 25%;
        top: 6rem;
        width: 440px;
    }

}
