:root {
    --clr-lightred: hsl(356, 100%, 66%);
    --clr-red: hsl(355, 100%, 74%);
    --clr-heading: hsl(208, 49%, 24%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grayfooter: hsl(240, 2%, 79%);
    --clr-graybody: hsl(207, 13%, 34%);
    --clr-bluefooter: hsl(240, 10%, 16%);
    --clr-veryred: hsl(13, 100%, 72%);
    --clr-redlight: hsl(353, 100%, 62%);

    --clr-darkgray: hsl(237, 17%, 21%);
    --clr-desaturated: hsl(237, 23%, 32%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Overpass', sans-serif;
    position: relative;
    z-index: -5;
    
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

svg {
    margin: 0;
    padding: 0;
    overflow: visible;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

span {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}