{% extends "portify/layout.html" %}
{% load static %}

{% block body %}
  aBOUT PORTIFY
  <form method="GET" action="{% url 'mens_fragrances' %}">
    <select id="category" name="category">
        <option value="">--Select Category--</option>
        <option value="nuit">Nuit Enchantée Collection</option>
        <option value="eclats"> Éclats d'Été Collection</option>
        <option value="douceurs">Douceurs Pluvieuses Collection</option>
        <option value="singles">Singles</option>
    </select>
    <button type="submit">Filter</button>
</form>
{% endblock %}