{% extends "portify/layout.html" %}
{% load static %}

{% block body %}
  <h1>Unisex</h1>
  <div class="fragrance-list">
    {% if fragrances %}
      <div class="portify-grid">
          {% for fragrance in fragrances %}
            <div>
                <div class="portify-item">
                    <a href="{% url 'product_detail' 'fragrances' fragrance.id %}">
                      <img src="{{ fragrance.image.url }}" alt="{{ fragrance.name }}" width="100">
                      <strong>{{ fragrance.name }}</strong>
                      <span>{{ fragrance.price }}</span>
                    </a>
                </div>
            </div>
          {% endfor %}
      </div>
    {% else %}
        <p>No fragrances found for this collection.</p>
    {% endif %}
  </div>
{% endblock %}