{% extends "portify/layout.html" %}
{% load static %}

{% block body %}
<button onclick="history.back()">Back</button>
<div class="product">
    <img src="{{ product.image.url }}">
    <div class="box">
        <h1>{{ product.name }}</h1>
        <h4>${{ product.price}}</h4>
        <h4>Description</h4>
        <p>{{ product.description }}</p>
        <button id="add_tocart" style="display: block; margin: 0 auto; border-radius: 5px; padding-inline: 40px;">
            Add to Cart
        </button>
    </div>
</div>

<script>
    document.getElementById('add_tocart').addEventListener('click', function() {
        const productId = "{{ product.id }}";
        const csrftoken = "{{ csrf_token }}";
        const productPrice = "{{ product.price }}";
        const productImage = "{{ product.image.url }}";

        fetch("{% url 'add_tocart' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({
                "product_id": productId,
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Product was added to the cart');
            } else {
                alert('There was a problem adding this to the cart')
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}