{% extends "portify/layout.html" %}
{% load static %}

{% block body %}
  <h1>Skincares</h1>
  <nav id="navbarskincares" class="navbar navbar-expand-lg custom-navbar">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarskincaresContent" aria-controls="navbarskincaresContent" aria-expanded="false" aria-label="Toggle navigation">
              <span>Filter</span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarskincaresContent">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'skincare' %}">All</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'skincare' %}?collection=nuit">Nuit Enchantée Collection</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'skincare' %}?collection=eclats">Éclats d'Été Collection</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'skincare' %}?collection=douceurs">Douceurs Pluvieuses Collection</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="skincare-list">
      {% if skincares %}
          <div class="portify-grid">
              {% for skincare in skincares %}
                  <div>
                      <div class="portify-item">
                          <a href="{% url 'product_detail' 'skincare' skincare.id %}">
                            <img src="{{ skincare.image.url }}" alt="{{ skincare.name }}" width="100">
                            <strong>{{ skincare.name }}</strong>
                            <span>{{ skincare.price }}</span>
                          </a>
                      </div>
                  </div>
              {% endfor %}
          </div>
      {% else %}
          <p>No skincares found for this collection.</p>
      {% endif %}
  </div>
{% endblock %}