{% extends "portify/layout.html" %}
{% load static %}

{% block body %}
<h1>Women's Fragrances</h1>
<nav id="navbarFragrances" class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFragrancesContent" aria-controls="navbarFragrancesContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>Filter</span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarFragrancesContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'womens_fragrances' %}">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'womens_fragrances' %}?collection=nuit">Nuit Enchantée Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'womens_fragrances' %}?collection=eclats">Éclats d'Été Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'womens_fragrances' %}?collection=douceurs">Douceurs Pluvieuses Collection</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="fragrance-list">
    {% if fragrances %}
        <div class="portify-grid">
            {% for fragrance in fragrances %}
                <div>
                    <div class="portify-item">
                        <a href="{% url 'product_detail' 'fragrances' fragrance.id %}">
                          <img src="{{ fragrance.image.url }}" alt="{{ fragrance.name }}" width="100">
                          <strong>{{ fragrance.name }}</strong>
                          <span>{{ fragrance.price }}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No fragrances found for this collection.</p>
    {% endif %}
</div>
{% endblock %}