{% extends "auctions/layout.html" %}


{% block body %}
    <h2>Active Listings</h2>

    <form method="GET" action="{% url 'active_listing' %}">
        <label for="category">Filter by Category:</label>
        <select id="category" name="category">
            <option value="">--Select Category--</option>
            <option value="Animals">Animals</option>
            <option value="Toys">Toys</option>
            <option value="Clothing">Clothing</option>
            <option value="Other">Other</option>
        </select>
        <button type="submit">Filter</button>
    </form>
    {% if listing %}
        <ul id="nodecor">
            {% for list in listing %}
                <hr>
                <div style="display: flex;">
                    <li>
                        {% if list.url %}
                            <img src="{{ list.url }}" alt="cat" width="140px">
                        {% else %}
                            <img src="path/to/placeholder-image.jpg" alt="Placeholder Image" width="140px">
                        {% endif %}
                    </li>
                    <li style="margin-left: 40px;">
                        <a href="{% url 'listing' list.id %}">
                            <h5>{{ list.title }} </h5>
                        </a>
                        <h6><b>Original Price: ${{ list.bid }} </b></h6>
                        {% if list.description %}
                            <h6>{{ list.description }}</h6>
                        {% endif %}
                        <p>Created {{ list.now }}</p6>
                    </li>
                </div>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
            <p>No listings found.</p>
    {% endif %}
        
   
    <a href="{% url 'index' %}">Back to Home</a>
{% endblock %}