{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        {{ message }}
    {% elif message3 %}
        {{ message3 }}
    {% elif  message1 %}
        {{ message1 }}
    {% endif %}

    <div style="display: flex; justify-content: space-between;">
        <h3>Listing</h3>
        {% if request.user != listing.owner %}
            {% if current_watchlist.exists %}
                <form action="{% url 'listing' id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="remove_watchlist_form">
                    <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">Remove to Wishlist</button>
                </form>      
            {% else %}
                <form action="{% url 'listing' id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="watchlist_form">
                    <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">Add to Wishlist</button>
                </form>     
            {% endif %}
        {% endif %} 
    </div>

    <ul id="nodecor">
        <hr>
        <div style="display: flex;">
            <li>
                {% if listing.url %}
                    <img src="{{ listing.url }}" alt="cat" width="140px">
                {% else %}
                    <img src="path/to/placeholder-image.jpg" alt="Placeholder Image" width="140px">
                {% endif %}
            </li>
            <li style="margin-left: 40px;">
                <h5>{{ listing.title }} </h5>
                <h6><b>Original Price: ${{ listing.bid }}</b></h6>
                {% if highest_bid.bid_amount %}
                    <h6><b>Highest Bid so far: ${{ highest_bid.bid_amount }} by {{ highest_bid.user.username }} </b></h6>
                {% else %}
                    <h6><b>Highest Bid so far: None</b></h6>
                {% endif %}
                {% if listing.description %}
                    <h6>{{ listing.description }}</h6>
                {% endif %}
                <p>Created {{ listing.now }}</p6>
            </li>
            {% if request.user == listing.owner %}
                <form action="{% url 'close' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="remove_watchlist_form">
                    <button type="submit" style="cursor:pointer;">Close Auction</button>
                </form>
            {% endif %}
        </div>    
        <hr>
    </ul>

    {% if request.user != listing.owner %}
        <form class="nav" action="{% url 'listing' id %}" method="post">
            {% csrf_token %}
            <ul id="nodecor">
                <input type="hidden" name="form_type" value="listing_form">
                <li>
                    <label for="bid">Place A Bid</label>
                    <input id="bid" type="number" name="bid" placeholder="Enter Price" value="{{ bid }}" required>
                </li>
                <li>
                    <label for="comment">Place A Comment</label>
                    <input id="comment" type="ntext" name="comment" placeholder="Optional" >
                </li>
                <input type="submit" value="Submit">
            </ul>
        </form>
    {% endif %}

    <h2>Bids</h2>
    {% if bids %}
        <h4>History</h4>
        {% for bid in bids %}
            <p>{{ bid.user.username }} placed ${{ bid.bid_amount }}</p>
        {% endfor %}
    {% else %}
        <p>No Bids yet</p>
    {% endif %}

    <h2>Comments</h2>

    {% if comment %}
        {% for chismis in comment %}
            {% if chismis.content %}
                <p>{{ chismis.user.username }} :{{ chismis.content }}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No comments yet</p>
    {% endif %}


    <a href="{% url 'index' %}">Back to Home</a>
{% endblock %}