{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create a new listing</h2>
    <form class="nav" action="{% url 'active_listing' %}" method="post">
        {% csrf_token %}
        <ul id="nodecor">
            <li>
                <label for="title">Title of the listing</label>
                <input id="title" type="text" name="title" placeholder="Enter Title" value="{{ title }}" required>
            </li>
            <li>
                <label for="description">Description</label>
                <input id="description" type="text" name="description" placeholder="Input Description" value="{{ description }}">
            </li> 
            <li>
                <label for="bid">Starting Bid</label>
                <input id="bid" type="number" name="bid" placeholder="Enter Price" value="{{ bid }}" required>
            </li>
            <li>
                <label for="URL">URL (Optional)</label>
                <input id="url" type="url" name="url" placeholder="Enter Image Url" value="{{ url }}">
            </li>
            <li>
                <label for="category">Category</label>
                <select id="category" name="category">
                    <option value="">--Select Category--</option>
                    <option value="Animals">Animals</option>
                    <option value="Toys">Toys</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Other">Other</option>
                </select>
            </li>
            <input type="submit" value="Submit">
            
            
        </ul>
    </form>
    <a href="{% url 'index' %}">Back to Home</a>
{% endblock %}