{% extends 'course/layout.html' %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="https://tse2.mm.bing.net/th?id=OIP.pdgwLL8oxjSs9n4AV66x5wHaHa&pid=Api&P=0&h=180" alt="Profile_picture" style="margin-left: 75px;">
            <a href="#" id="name" style="margin-left: 43px;">{{ user.username }}</a>
            <a href="#" id="strumming">Strumming</a>
            <a href="#" id="plucking">Plucking</a>
            <a href="#" id="fingerstyle">Fingerstyle</a>
            <a href="#" id="tips">Tips and Tricks</a>
            <a href="#" id="completed" style="display: none;">Special Video</a>
            <a href="{% url 'logout_view' %}">Log out</a>
        </div>
        <span onclick="openNav()" id="threelines">&#9776;</span>
        <div class="main">
            <div class="progress-position">
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar"></div>
                </div>
            </div>
            <div class="message-box">
                <div id="home">
                    <h3>Welcome to my Course!</h3>
                    <p>In this course, you'll explore three main sections: Strumming, Plucking, and Fingerstyle. We will begin with strumming, which serves as the foundation and is the easiest technique, then progress to plucking, and finally to the more advanced fingerstyle.</p>
                    <div class="center">
                        <img src="/media/images/Strumming.jpg" alt="picture">
                    </div>
                    <p>But of course, you have the flexibility to choose your starting point based on your comfort level.</p>
                    <p>Throughout the course, you will receive updates on your progress. You will see this progress status on the top right side of the webpage.</p>
                    <div class="center">
                        <div class="progress-container">
                            <div class="demo-progress-bar" id="demo-progress-bar"></div>
                        </div>
                    </div>
                    <p>Once you achieve a 100% completion status, you'll unlock a special video as a reward! Additionally, valuable tips and tricks will be available to you once you reach 80% of the course.</p>
                    <p>Your progress will be tracked across these three sections, ensuring you stay motivated and informed on your learning journey.</p>
                    <h3>Alright! That's all and Goodluck on your Journey on becoming a better Acoustic Guitarist! </h3>
                </div>
            </div>
           

            <div id="strumming_view" style="display: none;">
                <h3>Strumming</h3>
                <div class="navbar">
                    <button id="prevLesson" class="nav-btn" onclick="navigateLessons(-1)">&#9664;</button> 
    
                    <button id="lesson1" class="lesson-button" onclick="showLesson('lesson1')">Lesson 1</button>
                    <button id="lesson2" class="lesson-button" onclick="showLesson('lesson2')">Lesson 2</button>
                    <button id="lesson3" class="lesson-button" onclick="showLesson('lesson3')">Lesson 3</button>
                    <button id="lesson4" class="lesson-button" onclick="showLesson('lesson4')">Lesson 4</button>
                    <button id="lesson5" class="lesson-button" onclick="showLesson('lesson5')">Lesson 5</button>
       
                    
                    <button id="nextLesson" class="nav-btn" onclick="navigateLessons(1)">&#9654;</button> 
                </div>
                <div id="video_container">
                    <div id="lesson1_video" class="video" style="display: none;">
                        <h3>Lesson 1 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lesson1_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lesson2_video" class="video" style="display: none;">
                        <h3>Lesson 2 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lesson2_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lesson3_video" class="video" style="display: none;">
                        <h3>Lesson 3 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lesson3_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lesson4_video" class="video" style="display: none;">
                        <h3>Lesson 4 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lesson4_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lesson5_video" class="video" style="display: none;">
                        <h3>Lesson 5 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lesson5_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <div id="plucking_view" style="display: none;">
                <h3>Plucking</h3>
                <div class="navbar">
                    <button id="prevLesson" class="nav-btn" onclick="navigateLessons(-1)">&#9664;</button> 
    
                    <button id="lsesson1" class="lesson-button" onclick="showLesson('lsesson1')">Lesson 1</button>
                    <button id="lsesson2" class="lesson-button" onclick="showLesson('lsesson2')">Lesson 2</button>
                    <button id="lsesson3" class="lesson-button" onclick="showLesson('lsesson3')">Lesson 3</button>
                    <button id="lsesson4" class="lesson-button" onclick="showLesson('lsesson4')">Lesson 4</button>
                    <button id="lsesson5" class="lesson-button" onclick="showLesson('lsesson5')">Lesson 5</button>
                
                    
                    <button id="nextLesson" class="nav-btn" onclick="navigateLessons(1)">&#9654;</button>
                </div>
                <div id="video_container">
                    <div id="lsesson1_video" class="video" style="display: none;">
                        <h3>Lesson 1 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsesson1_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lsesson2_video" class="video" style="display: none;">
                        <h3>Lesson 2 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsesson2_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lsesson3_video" class="video" style="display: none;">
                        <h3>Lesson 3 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsesson3_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lsesson4_video" class="video" style="display: none;">
                        <h3>Lesson 4 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsesson4_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lsesson5_video" class="video" style="display: none;">
                        <h3>Lesson 5 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsesson5_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
  
            <div id="fingerstyle_view" style="display: none;">
                <h3>Fingerstyle</h3>
                <div class="navbar">
                    <button id="prevLesson" class="nav-btn" onclick="navigateLessons(-1)">&#9664;</button> 
    
                    <button id="lssesson1" class="lesson-button" onclick="showLesson('lssesson1')">Lesson 1</button>
                    <button id="lssesson2" class="lesson-button" onclick="showLesson('lssesson2')">Lesson 2</button>
                    <button id="lssesson3" class="lesson-button" onclick="showLesson('lssesson3')">Lesson 3</button>
                    <button id="lssesson4" class="lesson-button" onclick="showLesson('lssesson4')">Lesson 4</button>
                    <button id="lssesson5" class="lesson-button" onclick="showLesson('lssesson5')">Lesson 5</button>
          
                    
                    <button id="nextLesson" class="nav-btn" onclick="navigateLessons(1)">&#9654;</button> 
                </div>
                <div id="video_container">
                    <div id="lssesson1_video" class="video" style="display: none;">
                        <h3>Lesson 1 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lssesson1_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lssesson2_video" class="video" style="display: none;">
                        <h3>Lesson 2 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lssesson2_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lssesson3_video" class="video" style="display: none;">
                        <h3>Lesson 3 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lssesson3_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lssesson4_video" class="video" style="display: none;">
                        <h3>Lesson 4 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lssesson4_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lssesson5_video" class="video" style="display: none;">
                        <h3>Lesson 5 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lssesson5_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tips_view" style="display: none;">
                <h3>Tips and Tricks</h3>
                <div class="navbar">
                    <button id="prevLesson" class="nav-btn" onclick="navigateLessons(-1)">&#9664;</button> 
    
                    <button id="lsssesson1" class="lesson-button" onclick="showLesson('lsssesson1')">Lesson 1</button>
                    <button id="lsssesson2" class="lesson-button" onclick="showLesson('lsssesson2')">Lesson 2</button>
                    <button id="lsssesson3" class="lesson-button" onclick="showLesson('lsssesson3')">Lesson 3</button>
                    <button id="lsssesson4" class="lesson-button" onclick="showLesson('lsssesson4')">Lesson 4</button>
                    <button id="lsssesson5" class="lesson-button" onclick="showLesson('lsssesson5')">Lesson 5</button>
             
                    
                    <button id="nextLesson" class="nav-btn" onclick="navigateLessons(1)">&#9654;</button>
                </div>
                <div id="video_container">
                    <div id="lsssesson1_video" class="video" style="display: none;">
                        <h3>Lesson 1 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsssesson1_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lsssesson2_video" class="video" style="display: none;">
                        <h3>Lesson 2 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsssesson2_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lsssesson3_video" class="video" style="display: none;">
                        <h3>Lesson 3 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsssesson3_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lsssesson4_video" class="video" style="display: none;">
                        <h3>Lesson 4 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsssesson4_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <div id="lsssesson5_video" class="video" style="display: none;">
                        <h3>Lesson 5 Video</h3>
                        <div class="video_design">
                            <video  controls onended="onVideoEnd('lsssesson5_video')">
                                <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <div id="completed_view" style="display: none;">
                <h3>Special Video.</h3>
                <div class="video">
                    <div class="video_design">
                        <video>
                            <source src="/media/videos/video3.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <form action="{% url 'reviews' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text-field" name="review" placeholder="Give a Review">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'course/course.js' %}"></script>
{% endblock %}