{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Dong Hee's Acoustic Guitar Course{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'course/images/favicon.ico' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'course/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body style="background-color: #dfe5f6;">
        <h3 style="text-align: center; margin: 30px;"><a href="{% url 'index' %}" style="text-decoration: none;">Dong Hee's Acoustic Guitar Course</a></h1>
            {% if not user.is_authenticated %}
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" id="login" href="{% url 'login_view' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
                <hr>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#" id="course">About the Course</a>
                    <a href="#" id="dong">Dong Hee</a>
                    <a href="#" id="faq">FAQ</a>
                    <a href="#" id="reviews">Reviews</a>
                    <a href="#" id="contact">Contact</a>
                </div>
                <span onclick="openNav()">&#9776;</span>

                <div class="main">
                    <div id="about_course">
                        <h3>About my Course</h3>
                        <p>This course will teach learners how to properly play a song with these three valuable info:</p>
                        <ul>
                            <li>Dynamics</li>
                            <li>Rhythm</li>
                            <li>Fluidity</li>
                        </ul>
                        <p>The course provides three main sections:</p>
                        <h5>Strumming</h5>
                        <ul>
                            <li>Strumming is often used to play chords, making it essential for accompanying vocals or other instruments.</li>
                            <li>Different strumming patterns can bring out the unique characteristics of each chord progression, adding texture and dynamics to the music.</li>
                            <li>Varying your strumming technique (speed, force, and dynamics) allows for greater expressiveness in your playing.</li>
                        </ul>
                        <p>* here is an example video</p>
                        <div class="video">
                            <div class="video_design">
                                <video controls>
                                    <source src="/media/videos/video.mp4" type="video/mp4">
                                Your browser does not support video tag.
                                </video>
                            </div>
                        </div>
                        <h5>Plucking</h5>
                        <ul>
                            <li>Plucking involves using the fingers or a pick to individually strike or pull the strings of the guitar, producing sound. </li>
                            <li>Plucking can create different tonal qualities and dynamics compared to strumming. The way you pluck a string (the force and angle) can significantly affect the sound produced.</li>
                            <li>It allows for expressive playing, enabling musicians to convey emotions and nuances in their performance.</li>
                        </ul>
                        <p>* here is an example video</p>
                        <div class="video">
                            <div class="video_design">
                                <video controls>
                                    <source src="/media/videos/video2.mp4" type="video/mp4">
                                Your browser does not support video tag.
                                </video>
                            </div>
                        </div>
                        <h5>Fingerstyle</h5>
                        <ul>
                            <li>Fingerstyle is a popular and versatile technique used in acoustic guitar playing that usually involves plucking the strings with the fingers rather than using a pick (other than hybrid picking).  </li>
                            <li>Its especially effective for playing intricate arrangements, where the guitar takes on multiple roles (melody, harmony, rhythm).</li>
                            <li>There are many variation fingerstyle techniques, this includes: Basic Fingerpicking, Arpeggios, Travis Picking, Harmonics, Hybrid Picking, and many more.</li>
                        </ul>
                        <p>* here is an example video</p>
                        <div class="video">
                            <div class="video_design">
                                <video controls>
                                    <source src="/media/videos/video3.mp4" type="video/mp4">
                                Your browser does not support video tag.
                                </video>
                            </div>
                        </div>
                        <div class="message-box">
                            <p>One of the most important things to learn when playing the acoustic guitar is that there are many techniques and variations people do to their playing style. But all these variations will come from those three techniques that I have mentioned. So mastering the basics is a great way to start and that's what this free course will teach. Learning a song on the acoustic guitar isn’t just about hitting the right notes; it’s about really feeling the music. When you connect with it, your love for playing shines through, and that's what makes the sound so captivating! </p>
                            <h6 style="text-align: end;">-Dong Hee</h6>
                        </div>
                    </div>
                    <div id="about_me"  style= "display: none;">
                        <h3>Dong Hee</h3>
                        <p>I am a self-taught guitarist just watching tutorials on youtube. I started playing the guitar when I was in grade 6th (that was in 2017). In the Philipines, one of the famous instrument being played is an acoustic guitar because it is an easy to bring instrument in gatherings or in jammings. So, this helped me to pursue my guitar journey even though it is hard at first. But the main reason why I continued learning to play guitar is becasue I love how it sounds. It relaxes me.</p>
                        <h5>Hobbies</h5>
                        <p>Aside from playing the guitar, I have other hobbies as well:</p>
                        <ul>
                            <li>Coding</li>
                            <li>Rubik's Cube</li>
                            <li>Gaming</li>
                        </ul>
                    </div>
                    <div id="about_faq"  style= "display: none;">
                        <h3>FAQs</h3>
                        <div class="dropdown">
                            <div class="question" onclick="toggleAnswer(this)">
                                How much is your course?
                                <span class="arrow">▼</span>
                            </div>
                            <div class="answer">
                                0$! This course is free to use.
                            </div>
                        </div>

                        <div class="dropdown">
                            <div class="question" onclick="toggleAnswer(this)">
                                After this course, what should go next?
                                <span class="arrow">▼</span>
                            </div>
                            <div class="answer">
                                After understunding the fundamentlas of strumming, plucking, and fingerstyle, it will be easier to learn a song through videos, tabs, or by listening to the song!
                            </div>
                        </div>

                        <div class="dropdown">
                            <div class="question" onclick="toggleAnswer(this)">
                                What level of playing is required as a prerequisite for this course?
                                <span class="arrow">▼</span>
                            </div>
                            <div class="answer">
                                Ideal knowledge would be knowing some simple chords and simple strumming patterns. From there, this course will guide you to enhance your guitar playing skills!
                            </div>
                        </div>

                        <div class="dropdown">
                            <div class="question" onclick="toggleAnswer(this)">
                                What if I only have an electric guitar, will this course still be relevant?
                                <span class="arrow">▼</span>
                            </div>
                            <div class="answer">
                                To some extent. In an acoustic guitar, you'll have more control in your dynamics and force, so you'll be able to implement more of the learnings here in this course. But nonetheless, the course still has information that you can do in an electric guitar. Also, this course is free.
                            </div>
                        </div>

                        <div class="dropdown">
                            <div class="question" onclick="toggleAnswer(this)">
                                Will this course tackle heavily on thoery, scales, and exercises?
                                <span class="arrow">▼</span>
                            </div>
                            <div class="answer">
                                Not at all! This course focuses on how we translate a song to our guitar while retaining the song's characteristics via Strumming/Plucking/Fingerstyle.
                            </div>
                        </div>

                        <div class="dropdown">
                            <div class="question" onclick="toggleAnswer(this)">
                                I am already familiar with these three techniques. Do I still need to take this course?
                                <span class="arrow">▼</span>
                            </div>
                            <div class="answer">
                                These three techniques (Strumming, Plucking, and Fingerstyle) has its own skill level. For me, having this technique that produces a fluidity, seamless, guitar sound that matches the song's characteristics is the ideal. So if you think your playing style is still stiff, then this course will help you conquer that!
                            </div>
                        </div>
                    </div>
                    <div id="about_reviews" style="display: none;">
                        <h3>Reviews</h3>
                        {% if review %}
                            {% for chismis in review %}
                                <div class="comment">
                                    {% if chismis.content %}
                                        <h2>{{ chismis.user.username }}</h2>
                                        <p style="font-size: 20px;;">{{ chismis.user.email }}</p>
                                        <hr>
                                        <h5>{{ chismis.content }}</h5>
                                        <p style="font-size: 10px;">{{ chismis.created_at }}</p>
                                    {% endif %}
                                </div>       
                            {% endfor %}
                        {% else %}
                            <p>No Reviews yet</p>
                        {% endif %}
                    </div>
                    <div id="about_contact"  style= "display: none;">
                        <h3>Contact</h3>
                        <p>You can reach me to my social media platforms.</p>
                        <h5>Social Media</h5>
                        <ul>
                            <li>
                                <span class="icon"><i class="fab fa-facebook-f"></i></span>
                                <span class="username">Facebook: dong</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fab fa-instagram"></i></span>
                                <span class="username">Instagram: dong</span>
                            </li>
                            <li>
                                <span class="icon">✉️</span>
                                <span class="username">Email: dong@example.com</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fab fa-x-twitter"></i></span>
                                <span class="username">X: dong</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fab fa-linkedin-in"></i></span>
                                <span class="username">LinkedIn: dong</span>
                            </li>
                        </ul>

                    </div>
                </div>
            {% endif %}
        
        {% block body %}
        {% endblock %}
         <script src="{% static 'course/course.js' %}"></script>
    </body>
</html>
