{% extends 'course/layout.html' %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <img src="https://tse2.mm.bing.net/th?id=OIP.pdgwLL8oxjSs9n4AV66x5wHaHa&pid=Api&P=0&h=180" alt="Profile_picture">
            <a href="#" id="name">{{ user.username }}</a>
            <a href="#" id="strumming">Strumming</a>
            <a href="#" id="plucking">Plucking</a>
            <a href="#" id="fingerstyle">Fingerstyle</a>
            <a href="#" id="tips">Tips and Tricks</a>
            <a href="#" id="completed" style="display: none;">Special Video</a>
            <a href="{% url 'logout_view' %}">Log out</a>
        </div>
        <span onclick="openNav()">&#9776;</span>
        <h1>Thanks for placing a Review!</h1>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'course/course.js' %}"></script>
{% endblock %}