.header {
    position: relative;
    background-image: url('../images/mobile/image-header.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 75vh;
    color: var(--clr-white);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header_top {
    padding: 1rem;
    display: flex;
}

.header_list {
    display: none;
    font-family: 'Barlow', sans-serif;
    list-style-type: none;
    color: var();
    gap: 2rem;
    margin-left: auto;
}

.header_btn {
    display: none;
    border-radius: 25px;
    padding: 1rem 1.5rem;
    margin-left: 2rem;
}

.header_btn:hover {
    background-color: rgb(136, 221, 255);
    color: var(--clr-white);
}
.header_logo {
    width: 15%;
}

.header_menu {
    width: 15%;
    margin-left: auto;
}

.header_title {
    max-width: 30ch;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0;
}

.header_longarrow {
    width: 15%;
    margin: auto;
}



@media(min-width: 375px) {

    .header {
        background-image: url('../images/desktop/image-header.jpg');
        height: 100vh;
    }
}

@media(min-width: 425px) {
    
    .header_title {
        margin: 0rem;
    }

    .header {
        background-image: url('../images/desktop/image-header.jpg');
        height: 130vh;
    }
}

@media(min-width: 586px) {
    .header {
        background-image: url('../images/desktop/image-header.jpg');
        height: 130vh;
    }
}


@media(min-width: 768px) {

    .header_longarrow {
        width: 7%;
        margin: auto;
    }
}

@media(min-width: 1024px) {

    .header {
        background-image: url('../images/desktop/image-header.jpg');
    }

    .header_list {
        display: flex;
    }

    .header_btn {
        display: block;
    }

    .header_top {
        padding: 1rem;
        display: flex;
        align-items: center;
    }

    .header_menu {
        display: none;
    }

    .header_logo {
        width: 10%;
        padding-top: 2.5rem;
    }

    .header_title {
        font-size: 2.5rem;
    }



}

@media(min-width: 1250px) {
    .header_title {
        font-size: 3.5rem;
    }

    .header_list {
        font-size: 1.5rem;
    }
}


@media(min-width: 1440px) {
    
}

