.mobile_nav {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15rem 1rem;
    max-width: 100%;
    width: 100%;
    background-color: var(--clr-black);
    z-index: 2;
    overflow: hidden;
}

.mobile_nav_menu {
    list-style-type: none;
    color: var(--clr-white);
    margin: 7rem 0;
}

.mobile_nav_menu li {
    margin-bottom: 1rem
}

.mobile_nav_menu a {
    padding-bottom: 0.3rem;
}

.mobile_nav_menu a:hover {
    border-bottom: 1px solid var(--clr-white);
}

.mobile_nav_close {
    position: absolute;
    z-index: 3;
    top: 11.8rem;    /* Adjust as needed */
    right: 0.1rem;
    width: 7%;  /* Adjust as needed */
    cursor: pointer; 
    background-color: var(--clr-black);
}

@media(min-width: 375px) {

    .mobile_nav_close {
        top: 13.6rem;
    }
}

@media(min-width: 425px) {

}

@media(min-width: 520px) {

    .mobile_nav {
        top: 60%;
    }
}

@media(min-width: 768px) {

}

@media(min-width: 1024px) {

}

@media(min-width: 1225px) {

}

@media(min-width: 1440px) {
    
}
