



@media(min-width: 375px) {
    html {
        font-size:15px;
    }
}

@media(min-width: 425px) {
    html {
        font-size:17px;
    }
}

@media(min-width: 568px) {
    html {
        font-size:19px;
    }
}

@media(min-width: 768px) {
    html {
        font-size:15px;
    }
}

@media(min-width: 1024px) {
    html {
        font-size:17px;
    }
}

@media(min-width: 1220px) {
    html {
        font-size:17px;
    }
}

@media(min-width: 1440px) {
    html {
        font-size:17px;
    }
}