.cart_info {
    position: absolute;
    top: 5rem;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);

    width: 18.8rem;
    height: 14.7rem;

    background-color: var(--clr-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1.3rem;
    padding: 1.5rem 1rem;
    z-index: 2;

    font-size: 0.8rem;
}

#cart_hr {
    border: 0;
    width: 100%;
    border-top: 1px solid gray;
}

.cart_details {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;

}

.cart_texts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#cart_img {
    width: 2.7rem;
    border-radius: 5px;
}

.cart_black {
    font-weight: 700;
    color: var(--clr-black);
}


.cart_gray {
    color: var(--clr-darkgray);
}

#checkout {
    padding: 1rem 6rem;
    background-color: var(--clr-orange);
    border-radius: 10px;
    font-weight: 700;
    width: 100%;
    justify-content: center;

}

#empty {
    display: block;
    align-self: center;
    font-weight: 700;
    color: var(--clr-darkgray);
    margin-top: 4rem;
}

@media(min-width: 375px) {
    
}

@media(min-width: 425px) {
   
}

@media(min-width: 575px) {
   
}

@media(min-width: 768px) {
    .cart_info {
        top: 4.8rem;
        left: 60%;
        transform: translateX(0);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

    }
}

@media(min-width: 1024px) {

}

@media(min-width: 1220px) {

}

@media(min-width: 1440px) {

}


