:root {
    --clr-red: hsl(12, 88%, 59%);
    --clr-blue: hsl(228, 39%, 23%);

    --clr-gray: hsl(227, 12%, 61%);
    --clr-darkblue: hsl(233, 12%, 13%);
    --clr-palered: hsl(13, 100%, 96%);
    --clr-lightgray: hsl(0, 0%, 98%);
}