.box1 {
    background-color: var(--clr-purple500);
    padding: 2.1rem;
    width: 300px;
    text-align: center;
}

.box1_text {
    padding: 0;
    line-height: 1;
    font-size: 2.8rem;
    color: var(--clr-white);
}

.box1_design {
    color: var(--clr-yellow500);
}

.box1_image {
    width: 60%;
    margin: 1em auto 0;
}

.box1_small-text {
    font-size: 1rem;
    color: var(--clr-yellow100);
}

.box2 {
    background-color: var(--clr-white);
    padding: 1.1rem;
}

.box2_small-text {
    font-weight: 600;
    font-size: 1.4rem;
}

.box2_image {
    width: 100%;
    margin: auto;
}

.box3 {
    background-color: var(--clr-yellow500);
    padding: 1rem 1rem 0;
    height: 220px !important;
    overflow: hidden;
    position: relative;
}

.box3_text {
    font-size: 1.5rem;
    line-height: 0.8;
    font-weight: 600;
}

.box3_image {
    width: 70%;
    margin-top: 1rem;
    height: auto;
}

.box4 {
    background-color: var(--clr-purple100);
    padding: 2rem 0;
    text-align: center;
}

.box4_text {
    font-size: 1.5rem;
    font-weight: 600;
}

.box4_image {
    width: 90%;
    margin: 1rem auto;
}

.box4_small-text {
    max-width: 22ch;
    font-size: 1rem;
    display: inline-block;
}

.box5 {
    background-color: var(--clr-purple500);
    padding: 1rem 3rem;
    text-align: center;
}

.box5_image {
    width: 95%;
    padding-bottom: 2em;
}

.box5_text {
    font-size: 2rem;
    line-height: 1;
    color: var(--clr-white);
}

.box6 {
    padding: 1rem;
    background-color: var(--clr-white);
}

.box6_text {
    display: block;
    font-size: 2rem;
    font-weight: 600;
}

.box6_image {
    width: 50%;
    padding: 1.5rem 0;
}

.box7 {
    background-color: var(--clr-yellow100);
    padding: 2rem;
}

.box7_text {
    font-size: 1.7rem;
    line-height: 0.5;
    font-weight: 600;
}

.box7_design {
    color: var(--clr-purple500);
    font-style: italic;
}

.box7_image {
    width: 70%;
    margin-top: 1em;
}

.box8 {
    background-color: var(--clr-yellow500);
    padding: 1.2rem;
}

.box8_text {
    font-size: 1.8rem;
    line-height: 0.7;
    font-weight: 600;
}

.box8_image {
    width: 70%;
    margin-top: 1em;
}

