:root {
    --clr-purple100: hsl(254, 88%, 90%);
    --clr-purple500: hsl(256, 67%, 59%);
    --clr-yellow100: hsl(31, 66%, 93%);
    --clr-yellow500: hsl(39, 100%, 71%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 7%);
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: whitesmoke;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

svg {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    padding: 0;
    margin: 0;
}