
.footer, .footer_wrapper1, .footer_wrapper2, .footer_wrapper_wrapper, .footer_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer {
    background-color: var(--clr-blueDARK);

    text-align: center;
    color: var(--clr-blueLIGHT);
    padding: 2.5rem 0;

    font-size: 0.7rem;
}


.footer_socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer_socials a:hover {
    svg path {
        fill: var(--clr-green);
    }
}

.footer_list {
    gap: 1rem;

    a:hover {
        color: var(--clr-green);
    }
}

.footer_copyright {
    font-size: 0.9rem;
    color: var(--clr-blue);
}


@media(min-width: 375px) {

}

@media(min-width: 425px) {
    
}

@media(min-width: 568px) {
    
}

@media(min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer_wrapper1 {
        flex-direction: row;
        gap: 5rem;
    }

    .footer_list {
        align-items: flex-start;
    }
}

@media(min-width: 1024px) {
    
}

@media(min-width: 1220px) {
    
}

@media(min-width: 1440px) {
    
}


